<a href="https://colab.research.google.com/github/roddens/KrisRoddenProjects/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
Python and Github workshop

In [0]:
import pandas as pd
import numpy as np

In [0]:
#This is called your dataframe
#these are comments after pound symbol

In [0]:
Rainier_Weather=pd.read_csv("https://raw.githubusercontent.com/roddens/KrisRoddenProjects/master/Rainier_Weather.csv")
Rainier_Weather.head()

         Date  Battery Voltage AVG  ...  Wind Direction AVG  Solare Radiation AVG
0  12/31/2015            13.845000  ...           62.325833             84.915292
1  12/30/2015            13.822917  ...          121.505417             86.192833
2  12/29/2015            13.834583  ...          130.291667             85.100917
3  12/28/2015            13.710417  ...          164.683750             86.241250
4  12/27/2015            13.362500  ...          268.479167             31.090708

[5 rows x 7 columns]